<h1>Beers Reviwed on BeerClub</h1>
<ul>
<% @beers.each do |beer| %>
  <li><%= link_to beer.name, beer_path(beer) %> - Rating: <%= beer.rating %></li>
  <br>
<% end %>
</ul>

<div id="beer-review-box">

</div>
