// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #beer-index-ul {
     list-style: none;
 }
 #beer-index-ul a {
    text-decoration: underline;
    color: black;
    background-color: yellow;
 }

 #beer-index-h1 {
    color: white;
    background: black;
    text-shadow: 5px 5px 0px black, 7px 7px 0px #ffcc00;
    font-size: 5em;
 }