// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
    box-sizing: border-box;
  }

.session-container {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center
    // font-family: 'Staatliches', cursive;
    
}

ul#newly-reviewed-beers-list {
    list-style-type: none;

    
}