// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
    box-sizing: border-box;
  }

  body {
    //   border-top: solid;
      border-left: solid;
      border-right: solid;
      border-color: yellow;
      border-width: 7em;
  }


#error_explanation {
    color: red;
}

.session-container {
    margin: auto;
    border: yellow;
    width: 50%;
    padding: 10px;
    text-align: center
    
}

.session-title {
    background-color: yellow;
}

ul#newly-reviewed-beers-list {
    border-style: solid;
    border-color: black;
    border-width: .1em;
    border-radius: 25px;
    list-style-type: none;
    height: 7em;
    overflow: auto;
}




#beer-club-logo {
    max-height: 17em;
    max-width: 17em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  
  .button {
    background-color: yellow;
    color: white;
    min-height: 2.5em;
  }

  .button a {
      text-decoration: none;
      color: black;
  }
  
  #username {
      text-align: center;
      background: #ffcc00;
      min-height: 2.5em;
  }
  #password {
    text-align: center;
    background: #ffcc00;
    min-height: 2.5em;
    // min-width: 10em;
  }

  input[type="submit"] {
      background-color: black;
      color: white;
      min-height: 2.5em;
  }