// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-show-container {
    padding-top: 10em;
    text-align: center;
}

#user-show-container a {
    text-decoration: none;
    color: black;
}

#user-show-container h1{
    color: black;
    text-shadow: 5px 5px 0px #ffcc00, 7px 7px 0px yellow;
    font-size: 5em;
    text-align: center;
}


#beer-cred #cred-num{
    color: #ffcc00;
    background-color: black;

}

#beer-cred #cred-text {
    background-color: #ffcc00;
    color: black;
}

.user-reviews-box {
    list-style: none;
}
