// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-show-container {
    text-align: center;
}

#user-show-header h1{
    color: white;
    text-shadow: 5px 5px 0px black, 7px 7px 0px #ffcc00;
    font-size: 5em;
    text-align: center;
    background-color: black;
}


#beer-cred {
    color: #ffcc00;

}

#cred-num {
    color: red;
}

.user-reviews-box {
    list-style: none;
}