<h1>Reviews</h1>
<h2><%= no_reviews %></h2>
<ul>
<% @reviews.sort_by { |review| review.date }.reverse.each do |review| %>
  <li><%= review.date.strftime('%B %e, %Y') %> - <%= link_to "#{review.title}",
    user_review_path(review.user, review) %> - <%= link_to review.user.username, user_reviews_path(review.user) %></li>
<% end %>
</ul>
