<h1><%= current_user.username %>'s Reviews</h1>
<ul>
<% @reviews.each do |review| %>
  <li><%= review.date.strftime('%m-%d-%Y') %> - <%= link_to "#{review.title}", user_review_path(review.user, review) %> -
    <%= link_to "edit", edit_user_review_path(review.user, review) %></li>
<% end %>
</ul>
